body {
  position: relative;
  color: white;
  height: 100vh;
  /*background: linear-gradient(*/
  /*  200.96deg,*/
  /*  #fedc2a -29.09%,*/
  /*  #dd5789 51.77%,*/
  /*  #7a2c9e 129.35%*/
  /*);*/
  background-color: #1A1A1A;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}



.calculator {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

p {
  margin-top: 20px;
  font-size: 18px;
}


